*.mexmaci64

# Saved figures
code/3D/deform_newton/figures/*

# Cached files 
code/3D/deform_newton/cache_files/*

# MATLAB backup files
code/3D/deform_newton/*.asv
code/3D/deform_newton/plotting/*.asv
code/3D/deform_newton/helpers/*.asv

